[project]
	description = Agronet's database
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/julian rOmera (julianromera)
[access "refs/for/refs/*"]
	read = group user/julian rOmera (julianromera)
	push = group user/julian rOmera (julianromera)
	label-Code-Review = -2..+2 group user/julian rOmera (julianromera)
	label-Verified = -1..+1 group user/julian rOmera (julianromera)
	rebase = group user/julian rOmera (julianromera)
	removeReviewer = group user/julian rOmera (julianromera)
	submit = group user/julian rOmera (julianromera)
[access "refs/heads/*"]
	read = group user/julian rOmera (julianromera)
	create = group user/julian rOmera (julianromera)
	push = +force group user/julian rOmera (julianromera)
	pushMerge = group user/julian rOmera (julianromera)
[access "refs/tags/*"]
	push = +force group user/julian rOmera (julianromera)
	pushTag = group user/julian rOmera (julianromera)
	pushSignedTag = group user/julian rOmera (julianromera)
